.Header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* Fondo opaco */
    border-radius: 20px;
    padding: 20px;
    z-index: 999; /* Asegura que esté por encima del contenido */
  }
  
  .Header-content {
    text-align: center;
  }
  
  .Header-text {
    margin-bottom: 2rem;
  }
  
  .Header-text h1 {
    font-family: 'Mina', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  
  .botonnav {
    width: 63px;
    margin-top: 1vh;
  }
  
  .boton3 {
    border-radius: 20px;
    background-color: #363968;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .text-container input {
    width: 60%;
    line-height: 1.7;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ececec;
    text-align: center;
  }
  