.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  position: absolute;
  bottom: 30px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 80%; 
  height: 54%;
  background-color: #d9d9d96d; 
  padding: 50px; 
  border-radius: 20px;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.082);
  overflow: scroll;
  overflow-x: hidden;
}

.tarjeta {
  margin: -10px 100px -40px 0;   
  width: 25%;

}
.menu {
  display: flex;
  justify-content: left;
  margin-bottom: 20px; 
  margin-left: 120px;
}