.Header {
    width: 100%;
    min-height: 110vh;
    background: url(../../../assets/fondo6.0.png) no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    color: #363968;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Header-text{
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.Header-text h1{
    font-family: 'Mina', sans-serif;
    font-size: 10vw;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 15vh;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .Header {
        min-height: 100vh; 
    }
    .Header-text h1 {
        font-size: 15vw; 
    }
}

.botonnav{
    width: 60px;
    align-items: end;
    justify-content: center;
}