@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

.tablaestilo {
  background-color: rgba(217, 217, 217, 0.3); /* Fondo de color */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); /* Sombra de fondo */
  width: 100%;
  border-collapse: collapse; 
}

.tablaestilo td {
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  width: 50%;
}

.tablaestilo tr {
  border-bottom: 1px solid black;
}

.tablaestilo tr:last-child {
  border-bottom: 0;
}

.nombre_perfil {
  font-family: 'Mina', sans-serif;
  font-size: 2.25vw;
}

.p_uf_curso {
  font-size: 1.75vw;
  margin-right: 4vh;
  color: black;
}

.uf_curso {
  font-size: 2.5vw;
  font-family: 'Mina';
  margin-right: 4vh;
  color: #363968;
}

.karen .bars-img {
  display: none;
}

@media (max-width: 1080px) {
  .karen .bars-img {
      display: block; 
  }
}

.reservaciones-pend-div-fut {
  display: flex;
  justify-content: center;
  align-items: start;
}

.reservaciones-pend-fut {
  text-align: center;
  font-size: 1.5vw;
}

.reservaciones-pend-fut-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.reservaciones-pend-fut-div-title {
  text-align: center;
  width: 100%;
  font-size: 2vw;
  font-family: 'Mina', sans-serif;
  margin-bottom: 1vh;
}

.reservaciones-pend-fut-div-content {
  text-align: center;
  float: left;
  width: 100%;
  font-family: 'Mina', sans-serif;
  margin-bottom: 2vh;
}

.contenedor-tarjeta-general {
  margin: 10px;
}

.contenedor-principal-tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: start;
  width: 95%;
  height: 75vh; /* Cambiado a unidades relativas */
  background-color: #d9d9d96d;
  padding: 2.5vh; /* Cambiado a unidades relativas */
  border-radius: 1.5vw; /* Cambiado a unidades relativas */
  box-shadow: 0.8vw 0.8vw 2vw 2vw rgba(0, 0, 0, 0.08); /* Cambiado a unidades relativas */
  overflow: auto; /* Cambiado a 'auto' */
  overflow-x: hidden;
  margin-bottom: 4vh;
}

.contenedor-tarjetas::-webkit-scrollbar{
  display: none;
}

.tarjeta {
  margin-bottom: 5vh;
  margin-right: 2vh;
  width: 100%; /* Cambiado para que sea responsivo */
  line-height: 1.5;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
}

.tarjeta:hover {
  box-shadow: 2px 6px rgba(56, 56, 56, 0.384);
}

.tarjeta-info {
  background-color: #D9D9D9; 
  border-radius: 20px;  
  z-index: 1; /*Layering de la capa de fondo por encima de la imagen */
  position: relative; /* para que z-index tenga efecto */
  padding: 1vh;
  padding-bottom: 0;
  max-width: 100%; 
  margin: 0 auto; 
  border: 0.5px solid rgba(0, 0, 0, 0.08);
}

.tarjeta-img-inside {
  position: relative;
  z-index: 0;
  border-radius: 25px;
  margin-bottom: -70px;
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.tarjeta-info h2 {
  font-size: 1.25vw;
  margin: 0;
  text-align: left;
  padding-left: 5%;
  margin-bottom: 2vh;
  font-family: 'Mina', sans-serif;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1vw;
  margin-top: -10px; 
  font-size: 1vw;
}

.botoncito1 {
  padding: 5px 15px 5px 15px;
  font-size: 3vh;
  background-color: #6d1919;
  color: #eff0ff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 1.5px 3px rgb(185, 185, 185), -1.5px 3px rgb(185, 185, 185);
  transition: box-shadow 0.3s;
}

.botoncito1:hover {
  box-shadow: 0px 0px rgb(185, 185, 185);
}

.botoncito2 {
  padding: 5px 15px 5px 15px ;
  font-size: 3vh;
  background-color: #363968;
  color: #eff0ff;
  border-radius: 30px;
  border: none;
  line-height: 1.6;
  cursor: pointer;
  box-shadow: 1.5px 3px rgb(185, 185, 185), -1.5px 3px rgb(185, 185, 185);
  transition: box-shadow 0.3s;
}

.botoncito2:hover {
  box-shadow: 0px 0px rgb(185, 185, 185);
}

.relojcito {
  width: 13%;
}

.info-detail-cl-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}