.image-container img {
    width: 300px;
    height: auto;
    border-radius: 20%;
}

.matricula-text {
    font-size: 3vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #363968;
    text-align: center;
}

.descripcion-text {
    font-size: 1.5vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #000000;
    text-align: center;
    margin-top: 3vh;
}

.puntos-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.puntos-text {
    width: 50%;
    font-size: 1.5vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: black;
    text-align: center;
    line-height: 1;
}

.puntos {
    font-size: 5vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #363968;
    text-align: center;
    margin-right: 2vh;
}