@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

.Content{
    width: 100%;
    min-height: 110vh;
    background: url(../../assets/fondo6.0.png) no-repeat center center/cover;
    background-size: cover;
    background-position: left;
    color: #363968;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column; ;
}

.Content-text{
    text-align: center;
    max-width: 800px;
}

.Content-text h1{
    font-size: 170px;
    font-weight:bolder;
    line-height: 0.9;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .Content {
        min-height: 100vh; 
    }

    .Content-text h1 {
        font-size: 20vw; 
    }
}
