@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');



.cuerpoHU022{
  background-image: url('../assets/bghome.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0;
  padding: 0;

}


/*Modal.css*/



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.042);
   
    
}

.modal-content {
    width: 500px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 48px;
    overflow: hidden;
    position: relative;
}

.modal-content-inside {
    border-radius: 15px;
}

.modal-content-inside-header {
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 4vh;
    background-color: #FFFFFF;
    padding: 25px 25px 10px 25px;
    border-radius: 15px 15px 0 0;
    line-height: 1;
    position: relative;
}

.modal-content-inside-header .titulito-header {
    font-family: 'Mina';
}

.close-button {
    position: absolute;
    top: 13px;
    right: 40px;
    background: #585CA7;
    border: none;
    border-radius: 50%; /* Cambiado a 50% para un círculo perfecto */
    font-size: 30px;
    cursor: pointer;
    color: #FFFFFF;
    width: 5vh;
    height: 5vh;
}


.modal-content-inside-body-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.3;
   
    
}

.modal-content-inside-body-content-2 {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 35px;
    width: 100%;
    text-align: left;
}

.titulito {
    margin: 5px 0;
    font-size: 18px;
}



.botoncito1:hover {
    box-shadow: 0px 0px rgb(0, 0, 0);
}

.subtitulito-header{
    font-size: 2vh;
    margin: 0;
}

.titulito-header{
    font-size: 3vh;
    margin: 0;
}

/*Modal2.css*/



.modal-content-inside-body-content {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 34px;
    width: 100%;
    display: flex; /* Añadido */
    justify-content: center; /* Añadido */
    align-items: center; /* Añadido */
    text-align: center; /* Cambiado de 'left' a 'center' */
    margin-top: -13px;
    margin-bottom: 13px;
}

.botoncito1 {
    padding: 5px 15px;
    font-size: 2cqi;
    background-color: #f31818;
    color: #eff0ff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 1.5px 3px rgb(0, 0, 0), -1.5px 3px rgb(0, 0, 0);
    transition: box-shadow 0.3s;
}

/*Modal3.css*/





/*Navbar.css*/


/*Lo que hacee sto es el padding de los lados del menu*/
nav {
    color: #363968;
    padding: 20px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    transition: 0.5s;
}
/* Agrega estas líneas al archivo Navbar.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: sombra para el navbar */
  }
  nav.container-1 {
    padding: 10px 20px; /* Ajusta según tu diseño */
  }
  
  
.container-1{
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.container-1.scrolling {
    background-color: #d7d9f1;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: auto;
    height: 65px;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.logo-title {
    margin-left: 20px;
    font-family: 'Mina', sans-serif;
    font-size: 25px;
    margin-right: 20px;
    transition: 0.3s;
    text-align: center;
}

.karen img {
    width: 65px; 
    height: auto;
    margin-left: 25px;
    transition: 0.3s;   
}

.bars-img {
    color: #363968;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.karen {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.karen .search_input {
    border: 1px solid black;
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 200px;
    outline-width: 0;
    color:#363968;
    font-family: "Mina", sans-serif;
    float: left;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    padding-left: 10px;
    margin-left: 25px;
    resize: none;
    transition: 0.3s;
}

.hidden {
    display: none;
}

.mina-bold {
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    margin-left: 25px;
    transition: 0.3s;
    line-height: 0;
}

.search-img{
    color: #363968;
    font-size: 2rem;
}

li {
    list-style: none;
}

nav .links {
    display: flex;
    margin: 0 35px;
    gap: 2.5rem;
    transition: 0.3s;
}

nav ul li {
    font-size: 1.8vw;
    font-weight: bolder; 
    transition: 0.3s;  
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 12rem;
    width: 300px;
    height: 0;
    background-color: #363968;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s;
}

.dropdown-menu.open {
    height: 155px;
}

.dropdown-menu li {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li:nth-child(3) {
    padding-bottom: 20px;
}

.dropdown-menu li:last-child {
    display: none;
}

.mina-bold-2 {
    font-family: "Mina", sans-serif;
    color: #d7d9f1;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
}

.dropdown-menu .search_input-2 {
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    outline-width: 0;
    color:#363968;
    font-family: "Mina", sans-serif;
    float: left;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    padding-left: 10px;
    resize: none;
    transition: 0.3s;
}

.search-icon-2 {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: none;
    transition: 0.3s;
    margin-top: 5px;
    margin-right: 10px;
    line-height: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1080px) {
    nav .links {
        display: none;
    }

    .bars-img {
        display: block; 
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 750px) {
    .karen .search_input, .search-icon {
        display: none;
    }

    .dropdown-menu {
        right: 8rem;
    }

    .dropdown-menu li:nth-child(3) {
        padding-bottom: 0;
    }

    .dropdown-menu li:last-child {
        display: flex;
        padding-bottom: 20px;
    }

    .dropdown-menu.open {
        height: 225px;
    }
}

@media (max-width: 575px) {
    .dropdown-menu {
        left: 2rem;
        right: 2rem;
        width: unset;
    }
}

@media (max-width: 450px) {
    .logo-title {
        display: none;
    }
}



/*TarjetasA.css*/

.contenedor-tarjeta-general {
  position: relative;
  z-index: 1;
  top: 20vh;
  left: 0;
}

.contenedor-principal-tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 70vh;
  background-color: #d9d9d96d;
  padding: 5vh;
  border-radius: 1.5vw;
  box-shadow: 0.8vw 0.8vw 2vw 2vw rgba(0, 0, 0, 0.08);
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 4vh;
}

.contenedor-tarjetas::-webkit-scrollbar {
  width: 12px;
}

.contenedor-tarjetas::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.contenedor-tarjetas::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.contenedor-tarjetas::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.contenedor-tarjetas::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

.tarjeta-reserva {
  background-color: #f5f5f5;
  padding: 1vh;
  border-radius: 10px;
  width: 100%;
  height: 15%;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px; /* Agregar espacio entre tarjetas */
  transition: box-shadow 0.3s;
}

.tarjeta-reserva-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3vh;
}

.tarjeta-reserva-info h2HU022,
.tarjeta-reserva-info p {
  margin-bottom: -10px; /* Ajusta el espacio entre los elementos de texto */
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarjeta-reserva-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5vh;
}

.tarjeta-reserva-botones button {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  color: black; /* Color de texto blanco */
  font-weight: bold; /* Texto en negrita */
  transition: box-shadow 0.3s;
}

.tarjeta-reserva-botones button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave al pasar el cursor */
}

.tarjeta-reserva-botones button:nth-child(1) {
  background-color: #585CA7; /* Color morado para el primer botón */
  color: white;
}

.tarjeta-reserva-botones button:nth-child(2) {
  background-color: #C8E8A9;  /* Color rojo para el segundo botón */
}

.tarjeta-reserva-botones button:nth-child(3) {
  background-color: #E8ADA9; /* Color verde para el tercer botón */
}

.h2HU022 {
  font-size: 2.4vh;
}

.h1HU022 {
  font-size: 1.8vw;
  font-weight: 700;
  color: #000000;
  margin-bottom: 2vh;
}

.contenedor-filtros {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.contenedor-filtros label {
  margin-right: 1vh;
}

.contenedor-filtros select {
  padding: 0.5vh;
  border-radius: 0.5vh;
  border: 1px solid #ccc;
}


