@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

.Content{
    min-height: auto;
}

.content-height {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 90vh;
    background: url(../../assets/fondo6.0.png) no-repeat center center/cover;
    background-size: 100% auto;
    background-position: center calc(85% - 20px);;
    color: #363968;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: min-height 1s;
}

.Content-text{
    margin-top: 12vh;
    margin-bottom: 10vh;
    text-align: center;
}

.Content-text h1{
    font-size: 11vw;
    font-family: 'Unbounded', sans-serif;
    font-weight: bolder;
    line-height: 1;
    transition: font-size 0.5s;
}

@media (max-width: 1150px) {
    .Content-text{
        margin-top: 20vh;
    }

    .Content-text h1 {
        font-size: 9vw; 
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 850px) {
    .content-height {
        min-height: 40vh;
    }
    .Content-text h1 {
        font-size: 8vw; 
    }
}
