.box {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh; 
    background-color: #D5D7F0;
}

.OS {
    width: 65%; 
    max-width: 1300px; 
    position: relative;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}