.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 150vh; 
    background-color: #D5D7F0;
}

.OS {
    width: 100%; 
    max-width: 1300px; 
    position: relative;
}