
.box {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1);
    height: 100%; 
    /* background-image: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1); */
}


.Garage {
    width: 100%; 
    max-width: 700px;
    border: 0;
}
