.image-container img {
    width: 300px;
    height: auto;
    border-radius: 20%;
}

.matricula-text {
    font-size: 3vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #363968;
    text-align: center;
}

.descripcion-text {
    font-size: 1.15vw;
    font-family: 'Unbounded';
    font-weight: bolder;
    color: #000000;
    text-align: center;
}

.puntos-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.puntos-text {
    font-size: 1.5vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

.puntos {
    width: 100%;
    font-size: 5vw;
    font-family: 'Unbounded';
    font-weight: bolder;
    color: #9AFFC9;
    text-align: center;
}