<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Window</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logoesq.png') }}" alt="Logo del dream">
        </div>
        <nav>
            <ul>
                <li><a href="/inicio" class="mina-bold">INICIO</a></li>
                <li><a href="/" class="mina-bold">RESERVAR</a></li>
                <li><a href="/secciones" class="mina-bold">SECCIONES</a></li>
            </ul>
        </nav>
        <div class="karen">
            <img src="{{ url_for('static', filename='searcico2.png') }}" alt="icono busq">
            <img href="/perfil" src="{{ url_for('static', filename='karen.png') }}" alt="foto usuario">
        </div>
    </header>

    <div class="dreamybot">
        <img style="z-index: 0;" src="{{ url_for('static', filename='dreamy.png') }}" class="dreamybot">
        <div style="visibility: hidden;" id="view_details" class="detail">
            <div class="title">RESUMEN RESERVACIÓN</div>
            <div class="inter-text">

            </div>
            <div style="display: flex; justify-content: center;">
                <div class="send_message">
                    <div id="reservar_todo" onclick="sendReservation()" class="text">Reservar</div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat_window">
        <div class="top_menu">
            <div class="title">RESERVA TU LUGAR</div>
        </div>
        <div class="error">
            <div id="error-title" class="title"></div>
        </div>
        <ul id="all_messages" class="messages"></ul>
        
        <div style="display: flex; justify-content: center;" class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <textarea style="resize: none;" id="conversation_query" class="message_input" placeholder="Escribe aquí..."></textarea>
            </div>
            <div id="button_send_message" class="send_message">
                <div id="send_button" onclick="fetchConversationInfo()" class="text">Enviar</div>
            </div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='anim.js') }}"></script>
</body>
</html>
