<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Window</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logoesq.png') }}" alt="Logo del dream">
        </div>
        <nav>
            <ul>
                <li><a href="/inicio" class="mina-bold">INICIO</a></li>
                <li><a href="/" class="mina-bold">RESERVAR</a></li>
                <li><a href="/secciones" class="mina-bold">SECCIONES</a></li>
            </ul>
        </nav>
        <div class="karen">
            <input style="resize: none; margin-right: 10px;" id="conversation_query" class="message_input hidden" placeholder="Escribe aquí...">
            <button style="border: none; background: none; cursor: pointer; margin-right: 10px;" id="toggleButton"><img src="{{ url_for('static', filename='searcico2.png') }}" alt="icono busq"></button>
            <a href="/perfil"><img src="{{ url_for('static', filename='karen.png') }}" alt="foto usuario"></a>
        </div>
    </header>

    <div>
        <h1>SECCIONES</h1>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='anim.js') }}"></script>  
</body>
</html>
