
.containerHU0019{
    padding-left: 7%;
    padding-right: 7%;
  }

/* Card.css */
.box1019 {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Card019 {
    margin-top: 50px;
    border: 1px transparent;
    border-radius: 30px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 30px;
    text-align: center;
    background: rgba(217, 217, 217, 0.4);
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Card019 h2 {
    font-size: 3.5vw; 
    font-weight: bold;
    color: #363968;
    line-height: 0.9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.Card019 p {
    font-size: 1.5vw; 
    font-weight: bold;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
}

.button-prev-next-card {
    background-color: #D9D9D9;
    color: #363968;
    font-size: 1.8vw; 
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(217, 217, 217, 0.82);
}

.ReservarAhora019 {
    background-color: #15162A;
    color: white;
    font-size: 1.4vw; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5vh; 
    width: 40%; 
    border-radius: 73px;
    line-height: 1.1;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.ReservarAhora019:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(46, 17, 68);
    transition: all 0.2s ease;
}

/* Content.css */


.content-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 16vh;
}
  
.content-table-container table {
    width: 97%;
    border-collapse: collapse;
    border-radius: 25px;
    height: 67.5vh;
    align-self: center;
}
  
.content-profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 10%;
}
  
.content-tabla-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Content {
    width: 100%;
    min-height: 110vh;
    background: url(../assets/fondo6.0.png) no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    color: #363968;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Content-text {
    text-align: center;
    max-width: 800px;
}

.Content-text h1 {
    font-size: 170px;
    font-weight: bolder;
    line-height: 0.9;
}

/* Info.css */
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh; 
    background-image: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1);
}

.Garage019 {
    width: 100%; 
    max-width: 850px; 
    position: relative;
}


/* Profile.css */
.image-container #foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.matricula-text {
    font-size: 3vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #363968;
    text-align: center;
}

.descripcion-text {
    font-size: 1.5vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: #000000;
    text-align: center;
    margin-top: 3vh;
}

.puntos-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.photo-update-section {
    text-align: center;
}

.puntos-text {
    width: 50%;
    font-size: 1.5vw;
    font-family: 'Mina';
    font-weight: bolder;
    color: black;
    text-align: center;
    line-height: 1;
}

.puntos {
    font-size: 5vw;
    font-family: 'Mina';
    font-weight: bolder;
    text-align: center;
    margin-left: 10px;
}

/* Tabla.css */


.tablaestilo {
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-collapse: collapse; 
}

.tablaestilo td {
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items: center;
    float: left;
}

.tablaestilo tr {
    border-bottom: 1px solid black;
}

.tablaestilo tr:last-child {
    border-bottom: 0;
}

.nombre_perfil {
    font-family: 'Mina', sans-serif;
    font-size: 2.25vw;
}

.p_uf_curso {
    font-size: 2vw;
    margin-right: 4vh;
    color: black;
}

.uf_curso {
    font-size: 2vw;
    font-family: 'Mina';
    margin-right: 4vh;
    color: #363968;
}

.karen019 .bars-img {
    display: none;
}

@media (max-width: 1080px) {
    .karen019 .bars-img {
        display: block; 
    }
}

.reservaciones-pend-fut {
    text-align: start;
    font-size: 1.5vw;
    align-items: start;
}

.reservaciones-pend-fut-div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%; /* Ajuste de ancho para mantener consistencia */
}

.reservaciones-pend-fut-div-title {
    text-align: center;
    width: 100%;
    font-size: 2vw;
    font-family: 'Mina', sans-serif;
    margin-bottom: 1vh;
}

.reservaciones-pend-fut-div-content {
    text-align: center;
    float: left;
    width: 100%;
    font-family: 'Mina', sans-serif;
    margin-bottom: 2vh;
    align-items: start;
}

.contenedor-tarjeta-general019 {
    margin: 10px;
    width: 100%;
}

.contenedor-principal-tarjetas019 {
    display: flex;
    justify-content: center;
    align-items: start;
}

.contenedor-tarjetas019 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
    width: 95%;
    height: 40vh;
    background-color: #d9d9d96d;
    padding: 2.5vh;
    border-radius: 1.5vw;
    box-shadow: 0.8vw 0.8vw 2vw 2vw rgba(0, 0, 0, 0.08);
    overflow: auto;
    overflow-x: hidden;
}

.contenedor-tarjetas019::-webkit-scrollbar {
    display: none;
}

.tarjeta {
    margin-bottom: 3vh;
    width: 100%;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s;
}

.tarjeta:hover {
    box-shadow: 2px 6px rgba(56, 56, 56, 0.384);
}

.tarjeta-info {
    background-color: #D9D9D9; 
    border-radius: 20px;  
    z-index: 1;
    position: relative;
    padding: 1vh;
    padding-bottom: 0;
    max-width: 100%; 
    margin: 0 auto; 
    border: 0.5px solid rgba(0, 0, 0, 0.08);
}

.tarjeta-img-inside {
    position: relative;
    z-index: 0;
    border-radius: 25px;
    margin-bottom: -70px;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.tarjeta-info h2 {
    font-size: 1.25vw;
    margin: 0;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 2vh;
    font-family: 'Mina', sans-serif;
}

.info-container019 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1vw;
    margin-top: -10px; 
    font-size: 1vw;
}

.botoncitofotito {
    padding: 5px 15px 5px 15px ;
    font-size: 2vh;
    font-weight: bold;
    background-color: #E8ADA9;
    color: black;
    border-radius: 30px;
    margin-top: 3vh;
    border: none;
    line-height: 1.6;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }

  .botoncitofotito:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .botoncitofotitoconfirmar {
    padding: 5px 15px 5px 15px ;
    font-size: 2vh;
    font-weight: bold;
    background-color: #C8E8A9;
    color: black;
    border-radius: 30px;
    margin-top: 3vh;
    border: none;
    line-height: 1.6;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }

  .botoncitofotitoconfirmar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.custom-file-upload {
    margin-top: 3vh;
    display: inline-block;
    font-weight: bold;
    padding: 5px 15px 5px 15px ;
    cursor: pointer;
    color: #eff0ff;
    border: none;
    background-color: #363968;
    box-shadow: 1.5px 3px rgb(185, 185, 185), -1.5px 3px rgb(185, 185, 185);
    border-radius: 4px;
    transition: box-shadow 0.3s;
  }
  
  .custom-file-upload:hover {
    box-shadow: 0px 0px rgb(185, 185, 185);
  }

.botoncito1019 {
    padding: 5px 15px 5px 15px;
    font-size: 3vh;
    background-color: #6d1919;
    color: #eff0ff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 1.5px 3px rgb(185, 185, 185), -1.5px 3px rgb(185, 185, 185);
    transition: box-shadow 0.3s;
}

.botoncito1019:hover {
    box-shadow: 0px 0px rgb(185, 185, 185);
}

.botoncito2019 {
    padding: 5px 15px 5px 15px ;
    font-size: 3vh;
    background-color: #363968;
    color: #eff0ff;
    border-radius: 30px;
    border: none;
    line-height: 1.6;
    cursor: pointer;
    box-shadow: 1.5px 3px rgb(185, 185, 185), -1.5px 3px rgb(185, 185, 185);
    transition: box-shadow 0.3s;
}

.botoncito2019:hover {
    box-shadow: 0px 0px rgb(185, 185, 185);
}

.relojcito {
    width: 10%;
}

.info-detail-cl-bt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* ConfirmCancelPopup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    width: 75vh;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .popup-button-div {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .popup-button-div-inside {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .popup-button-cerrar {
    padding: 5px 15px 5px 15px;
    font-size: 3vh;
    background-color: #6d1919;
    color: #eff0ff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 1.5px 3px rgb(0, 0, 0), -1.5px 3px rgb(0, 0, 0);
    transition: box-shadow 0.3s;
  }

  .popup-button-cerrar:hover {
    box-shadow: 0px 0px rgb(0, 0, 0);
  }

  .popup-button-aceptar {
    padding: 5px 15px 5px 15px;
	font-size: 3vh;
	background-color: #363968;
	color: #eff0ff;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	box-shadow: 1.5px 3px rgb(0, 0, 0), -1.5px 3px rgb(0, 0, 0);
	transition: box-shadow 0.3s;
  }

  .popup-button-aceptar:hover {
    box-shadow: 0px 0px rgb(0, 0, 0);
  }

  .stylecontent {
    display: flex; 
    align-items: start;
    margin: 0 20px;
}

.confirmacion-texto {
    margin-left: 15px;
    font-size: 1.25vw;
} 

.no-reservaciones {
    font-size: 2.5vh; 
    margin-bottom: 3vh;
}

.boton-puntos-prioridad {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    position: relative;
    margin-right: 2vh;
    color: #363968;
    transition: color 0.3s;
}

.boton-puntos-prioridad:hover {
    color: #151845;
}

.button-question {
    font-size: 1.5rem;
}

.popup-content-puntos-prioridad {
    display: flex;
    justify-content: space-between;
    width: 150vh;
    height: 65vh;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

.puntos-prioridad-message {
    width: 100%;
}

.puntos-prioridad-buttons {
    margin-top: 15px;
}

.puntos-prioridad-message-inside {
    overflow-y: scroll;
    height: 85%;
}

.puntos-prioridad-message-inside-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.puntos-prioridad-message-inside h1 {
    font-size: 3vw;
    color: #363968;
}

.puntos-prioridad-message-inside p {
    width: 90%;
    text-align: justify;
    font-size: 1.25vw;
    color: black;
    margin-bottom: 1vh;
}
  
  @media (max-width: 480px) {
    .cuerpoHU0019 {
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }

    .no-reservaciones {
        font-size: 2vh; 
        margin-bottom: 3vh;
        font-weight: medium;
        text-wrap: wrap;
    }

    .p_uf_curso2{
        display: none;
    }

    .fa-solid.fa-angle-left {
        display: none;
    }
   
    .content-profile-container {
        display: block;
        width: 100%;
    }

    .stylecontent {
        display: flex; 
        align-items: start;
        margin: 0 0;
    }

    .image-container {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }

    .puntos-perfil {
        text-align: center;
        align-items: start;
        display: inline-block;
    }

    tbody {
        display: block;
        overflow: auto;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        flex-direction: column;
    }

    .content-tabla-container {
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    td {
        display: block;
        text-align: center;
        width: 100%;
        align-items: center;
    }

    tr {
        width: 100%;
    }

    .image-container {
        align-items: center;
        width: 100%;
    }

    .image-container #foto-perfil {
        height: 100%;
        display: none;
    }

    .descripcion-text {
        font-size: 3vh;
        line-height: 1vh;
    }

    .Card019 h2 {
        font-size: 5vw;
    }

    .Card019 p {
        font-size: 3vw;
    }

    .button-prev-next-card {
        font-size: 4vw;
    }

    .ReservarAhora019 {
        font-size: 4vw;
        width: 100%;
    }

    .content-table-container {
        top: 12vh;
        margin-bottom: 16vh;
    }

    .content-table-container table {
        height: auto;
    }

    .Content-text h1 {
        font-size: 20vw;
        text-overflow: ellipsis;
    }

    .puntos-text {
        font-size: 2vh;
    }

    .puntos {
        font-size: 10vw;
    }

    .p_uf_curso {
        font-size: 4vw;
    }

    .uf_curso {
        font-size: 5vw;
    }

    .nombre_perfil {
        font-size: 5vw;
    }

    .reservaciones-pend-fut{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .reservaciones-pend-fut-div-title {
        font-size: 5vw;
        width: 100%;
    }

    .reservaciones-pend-fut-div-content {
        font-size: 5vw;
    }

    .contenedor-tarjetas019 {
        height: auto;
    }

    .contenedor-principal-tarjetas019 {
        height: 25vh;
        overflow: scroll;
    }

    .contenedor-tarjeta-general019 {
        margin: 0px 0;
        overflow: scroll;
    }

    .tarjeta {
        width: 100%;
    }

    .tablaestilo {
        width: 100%;
        height: auto;
    }

    .tablaestilo td {
        width: 100%;
        height: auto;
    }

    .tablaestilo tr {
        height: auto;
    }

    .uf_curso {
        text-wrap: wrap;
    }

    .tarjeta-info h2 {
        font-size: 4.5vw;
        text-wrap: wrap;
    }

    .info-container019{
        font-size: 3.5vw;
    }

    .confirmacion-texto {
        margin-left: 15px;
        font-size: 3vw;
    } 
 
  }

  /* Media queries para pantallas pequeñas */
@media (max-width: 768px) {

    .tablaestilo td {
        width: 100%;
        height: auto;
    }

    .cuerpoHU0019 {
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }


    .image-container {
        align-items: center;
        width: 100%;
    }

    .image-container #foto-perfil {
        height: 100%;
        display: none;
    }

    .puntos-perfil {
        text-align: center;
        align-items: start;
    }

    tbody {
        display: block;
        overflow: auto;
        flex-direction: column;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        flex-direction: column;
    }

    .content-tabla-container {
        text-align: center;
        flex-direction: column;
    }

    td {
        display: block;
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .descripcion-text {
        font-size: 3vh;
        line-height: 1vh;
    }


    .Card019 h2 {
        font-size: 5vw;
    }

    .Card019 p {
        font-size: 3vw;
    }

    .button-prev-next-card {
        font-size: 4vw;
    }

    .ReservarAhora019 {
        font-size: 4vw;
        width: 100%;
    }

    .content-table-container table {
        height: auto;
    }

    .content-profile-container,
    .content-tabla-container {
        padding: 0 2%;
    }

    .Content-text h1 {
        font-size: 20vw;
        text-overflow: ellipsis;
    }

    .puntos-text {
        font-size: 2vh;
    }

    .puntos {
        font-size: 10vw;
    }

    .p_uf_curso {
        font-size: 5vw;
    }

    .uf_curso {
        font-size: 5vw;
    }

    .fa-solid.fa-angle-right{
        display: none;
    }

    .tablaestilo {
        width: 100%;
        height: auto;
    }

    .nombre_perfil {
        font-size: 5vw;
        text-wrap: wrap;
        text-align: left;
    }

    .reservaciones-columnas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .reservaciones-pend-fut{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .reservaciones-pend-fut-div-title {
        font-size: 5vw;
    }

    .reservaciones-pend-fut-div-content {
        font-size: 5vw;
    }

    .contenedor-tarjetas019 {
        height: 30vh;
    }

    .contenedor-principal-tarjetas019 {
        width: 100%;
        height: 30vh;
        overflow: scroll;
    }

    .contenedor-tarjeta-general019 {
        height: auto;
        overflow: scroll;
    }

    .tarjeta {
        width: 100%;
    }
 
  }