 /*
.bot-container {
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.bot-container img {
    margin-top: 100px;
    max-width: 55vw;
    max-height: 100%;
}
