  .login_formHU021 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5; /* Asegura que esté encima de todo */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  }
  
  .login_formHU021 h2 {
    margin-bottom: 10px;
    color: #363968;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }

  .imgloginHU021 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .login_formHU021 img {
    color: #363968;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .login_formHU021 form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .login_formHU021 label {
    margin-bottom: 5px;
    color: #363968;
    font-size: 18px;
  }
  
  .login_formHU021 input {
    margin-bottom: 10px;
    padding: 9px;
    border: 1px solid #d9d9d9;
    border-radius: 9px;
    outline: none;
    font-family: "Mina", sans-serif;
    font-size: 18px;
    color: #363968;
    width: 100%;
  }
  
  .login_formHU021 button {
    padding: 10px;
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: #363968;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login_formHU021 button:hover {
    background-color: #15162A;
  }

  .bot-containerDreamyLogin img {
    width: 40vw;
    position: absolute;
    left: 65%;
    top: 50%;
  }