@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mina', sans-serif;
}

body{
  background: #585ca7;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

/*Lo que hacee sto es el padding de los lados del menu*/
.container{
  padding-left: 7%;
  padding-right: 7%;
}