.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.Card {
    margin-top: 3vh;
    border: 1px transparent;
    border-radius: 30px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 30px;
    text-align: center;
    background: rgba(217, 217, 217, 0.4);
    width: 100%; 
    max-width: 50vw; 
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: max-width 0.1s;
}

.Card h2 {
    font-size: 4.5vw; 
    font-weight: bold;
    color: #363968;
    line-height: 0.9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5vh;
}

.Card p {
    font-size: 1.5vw; 
    font-weight: bold;
    line-height: 1.2;
    padding-top: 2vh;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estilos para button */
.prev_next {
    background-color: #D9D9D9;
    color: #363968;
    font-size: 3vw; 
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(217, 217, 217, 0.82);
}

.ReservarAhora {
    background-color: #15162A;
    color: white;
    font-size: 1.5vw;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 4.5vh; 
    margin-bottom: 5vh; 
    width: 65%;
    border-radius: 75px;
    line-height: 1.1;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.card-margin {
    margin: 0 2vw;
}

.ReservarAhora:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(46, 17, 68);
    transition: all 0.2s ease;
}

@media (max-width: 1150px) {
    .Content-text h1 {
        font-size: 9vw; 
    }

    .ReservarAhora {
        font-size: 3vw;
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 850px) {
    .Card {
        max-width: 75vw; 
    }
    
    .prev_next{
        font-size: 8vw; 
    }

    .Card h2 {
        font-size: 7vw; 
    }

    .Card p {
        font-size: 3vw; 
    }

    .content-height {
        min-height: 40vh;
    }

    .Content-text h1 {
        font-size: 8vw; 
    }

    .ReservarAhora {
        width: 45%; 
    }
}

@media (max-width: 650px) {
    .Card {
        max-width: 90vw; 
    }
}