
.cuerpoHU008{
  background: #D5D7F0;
  overflow-x: hidden;
}

/*Lo que hacee sto es el padding de los lados del menu*/
.containerHU008 {
  padding-left: 7%;
  padding-right: 7%;
}

.botonnav1{
  width: 60px;
  align-items: end;
  justify-content: center;
  display: flex;
}

.descripcionHU008{
  text-align: center;
  font-size: 5vh;
  font-weight: bolder;
  color: #363968;
}

.boxdHU008 {
  display: flex;
  justify-content: center;
  background-color: #D5D7F0;
  padding: 5vh 0;
}

.HeaderHU008 {
  width: 100%;
  min-height: 110vh;
  background: url(../assets/fondo6.0.png) no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  color: #363968;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HeaderHU008-text{
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 10vh;
}

.HeaderHU008-text h1{
  font-family: 'Mina', sans-serif;
  font-size: 10vw;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 15vh;
}

.boxHU008 {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 110vh; 
  background-color: #D5D7F0;
}

.botonnavHU008{
  width: 60px;
  align-items: end;
  justify-content: center;
}


.OSHU008 {
  width: 65%; 
  max-width: 1300px; 
  position: relative;
}

.container1HU008 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2HU008 {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 110vh; 
  background-image: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1);
  /* background-image: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1); */
}

.GVHU008 {
  width: 65%; 
  max-width: 1300px; 
  position: relative;
}

.container2HU008 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
  .HeaderHU008 {
    padding-top: 10vh;
    min-height: 40vh; 
  }
  .HeaderHU008-text h1 {
    font-size: 15vw; 
  }

  .descripcionHU008{
    font-size: 2.5vh;
  }

  .boxdHU008 {
    display: inline-block;
    padding: 1vh;
    width: 100%;
    background-color: #D5D7F0;

  }

  .boxHU008 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 11vh; 
    background-color: #D5D7F0;
  }

  .box2HU008 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 35vh; 
  }

  .container1HU008 {
    padding: 1vh;
    width: 100%;
    display: inline;
  }

  .container2HU008 {
    padding: 1vh;
    width: 100%;
    display: flex;
  }

  .OSHU008 {
    padding-top: 5vh;
    width: 100%; 
    max-width: 100%; 
    position: relative;
    padding-bottom: 15vh;
  }

  .GVHU008 {
    width: 95%; 
    max-width: 100%; 
    position: relative;
    padding-bottom: 5vh;
  }
}

@media (max-width: 768px) {
  .HeaderHU008 {
      min-height: 40vh; 
  }
  .HeaderHU008-text h1 {
      font-size: 15vw; 
  }

  .descripcionHU008{
    font-size: 2.5vh;
  }

  .boxdHU008 {
    display: inline-block;
    padding: 1vh;
    width: 100%;
  }

  .boxHU008 {
    display: inline;
    padding: 1vh;
    width: 100%;
    height: 10vh;
    background-color: #D5D7F0;
  }

  .container1HU008 {
    padding: 1vh;
    width: 100%;
  }
}