
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh; 
    background-image: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1);
    /* background-image: linear-gradient(to top, #585ca7, #777aba, #9699cd, #b6b8df, #d7d9f1); */
}


.Garage {
    width: 100%; 
    max-width: 850px; 
    position: relative;
    
}
