* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mina', sans-serif;
}

body {
  background-image: url('../assets/bghome.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}