.bot-containerError img {
    margin-top: 100px;
    max-width: 55vw;
    max-height: 100%;
  }

.mensaje-container-error {
    position: absolute;
    width: calc(43% - 10px); 
    max-width: 700px; 
    height: 550px;
    border-radius: 10px;
    background-color: transparent;
    left: 55%; 
    top: 70%; 
    transform: translateY(-50%);
    font-family: "Mina", sans-serif;
    z-index: 1;
}

.mensaje-container-error h1 {
    text-align: center;
    color: #363968;
    font-size: 4vw;
    font-weight: bolder;
    line-height: 4vw;
    margin-bottom: 3vh;
}

.mensaje-container-error p {
    color: #000331;
    font-size: 1.25vw;
    font-weight: normal;
}