.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    position: absolute;
    bottom: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
    height: 54%;
    background-color: #d9d9d96d; 
    border-radius: 20px; 
    padding: 50px; 

  }
  
  
  .tarjeta {
    margin: 0 120px 0px 0;
  }
  
  .menu {
    display: flex;
    justify-content: left;
    margin-bottom: 20px; 
    margin-left: 120px;
  }


  
  