@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

/*Lo que hacee sto es el padding de los lados del menu*/
nav {
    color: #363968;
    padding: 20px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    transition: 0.5s;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.container.scrolling {
    background-color: #d7d9f1;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: auto;
    height: 65px;
}

.logo-title {
    margin-left: 20px;
    font-family: 'Unbounded', sans-serif;
    font-size: 25px;
    margin-right: 20px;
    transition: 0.3s;
    text-align: center;
}

.karen img {
    width: 65px; 
    height: auto;
    margin-left: 25px;
    transition: 0.3s;   
}

.bars-img {
    color: #363968;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.karen {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.karen .search_input {
    border: 1px solid black;
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 200px;
    outline-width: 0;
    color:#363968;
    font-family: "Mina", sans-serif;
    float: left;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    padding-left: 10px;
    margin-left: 25px;
    resize: none;
    transition: 0.3s;
}

.hidden {
    display: none;
}

.mina-bold {
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    margin-left: 25px;
    transition: 0.3s;
    line-height: 0;
}

.search-img{
    color: #363968;
    font-size: 2rem;
}

li {
    list-style: none;
}

nav .links {
    display: flex;
    margin: 0 35px;
    gap: 2.5rem;
    transition: 0.3s;
}

nav ul li {
    font-size: 1.8vw;
    font-weight: bolder; 
    transition: 0.3s;  
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 12rem;
    width: 300px;
    height: 0;
    background-color: #363968;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s;
}

.dropdown-menu.open {
    height: 155px;
}

.dropdown-menu li {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li:nth-child(3) {
    padding-bottom: 20px;
}

.dropdown-menu li:last-child {
    display: none;
}

.mina-bold-2 {
    font-family: "Mina", sans-serif;
    color: #d7d9f1;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
}

.dropdown-menu .search_input-2 {
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    outline-width: 0;
    color:#363968;
    font-family: "Mina", sans-serif;
    float: left;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    padding-left: 10px;
    resize: none;
    transition: 0.3s;
}

.search-icon-2 {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: none;
    transition: 0.3s;
    margin-top: 5px;
    margin-right: 10px;
    line-height: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1080px) {
    nav .links {
        display: none;
    }

    .bars-img {
        display: block; 
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 750px) {
    .karen .search_input, .search-icon {
        display: none;
    }

    .dropdown-menu {
        right: 8rem;
    }

    .dropdown-menu li:nth-child(3) {
        padding-bottom: 0;
    }

    .dropdown-menu li:last-child {
        display: flex;
        padding-bottom: 20px;
    }

    .dropdown-menu.open {
        height: 225px;
    }
}

@media (max-width: 575px) {
    .dropdown-menu {
        left: 2rem;
        right: 2rem;
        width: unset;
    }
}

@media (max-width: 450px) {
    .logo-title {
        display: none;
    }
}