@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
  }