@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mina', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

body {
  background-image: url('../src/assets/bghome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4D507D;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
}

body.reservanormal-background {
  background-image: url('../src/assets/bghome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4D507D;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

body.espacio-background {
  background-image: url('../src/assets/bghome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4D507D;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

body.global-background {
  background-image: url('../src/assets/bghome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

body.videowall-background {
  font-weight: 700;
  background: linear-gradient(to bottom, #000000, #17113d, #5915a6);
  background-attachment: fixed;
  overflow: hidden;
}