.descripcion{
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
    color: #363968;
}

.boxd {
    display: flex;
    justify-content: center;
    background-color: #D5D7F0;
    padding: 5vh 0;
}